<span class="subscription">
  <div class="d-flex align-items-center justify-content-center">
    <% if subscription.user.present? %>
      <%= render partial: 'users/user', object: subscription.user %>
    <% else %>
      <em class="word_wrap"><%= subscription.user_name %></em>
    <% end %>
    <% if policy(subscription).destroy? %>
      <%= button_to fa_icon('x-circle'), event_subscription_path(subscription.event, subscription),
                    form: {data: {turbo_confirm: t('views.subscriptions.destroy_confirm')}},
                    method: :delete,
                    class: 'btn'%>
     <% end %>

  </div>
</span>
