<div class="event-photo col-md-2 mb-3 ps-1">
  <div class="card">
    <a href="<%= photo.photo.url %>">
      <%= image_tag(photo.photo.variant(:thumb), class: 'card-img-top') %>
    </a>
    <p class="card-subtitle mb-1 mt-1"><%= t('views.photos.downloader') %></p>
    <p class="card-text mb-1">
      <%= render partial: 'users/user', object: photo.user %>
    </p>

  </div>
</div>
